<!DOCTYPE html>
<html lang="en">
<head>
  <title>Master thesis web</title>
  <link rel="stylesheet" href="style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  p {color:white; font-family: sans-serif}
  h1 {color:white; font-family: sans-serif}
  h2 {color:white; font-family: sans-serif}
  h3 {color:white; font-family: sans-serif}
  a:link {color:white; font-family: sans-serif}
  a:hover {color:gray; font-family: sans-serif}
  a:visited {color:white; font-family: sans-serif}
  a:active {color:gray; font-family: sans-serif}
  ul {color:white; font-family: sans-serif}
  div {margin-left: 50px; margin-right: 50px;}
</style>
<body style="background-color:#33475b">
  <h1>Master thesis web</h1>
  <div id="app"></div>
  <script src="../main.js"></script>
    <textarea rows="10" cols="100" id="codeInput"></textarea><br>
    <button type="button" id="buttonInput">Find bugs!</button>
    <p id="positionText"></p>
    <p id="explanationText"></p>
    <p id="suggestionText"></p>
    <p id="linkText"></p>
    <a href="#" id="urllink"></a>
    <p id="tipText"></p>
</body>
<script type="module">

  async function postInputData() {
    const data = document.getElementById('codeInput').value;
    document.getElementById("positionText").textContent = "Waiting for analyse....";
    document.getElementById("explanationText").textContent = "";
    document.getElementById("suggestionText").textContent = "";
    document.getElementById("linkText").textContent = "";
    document.getElementById("tipText").textContent = "";
    document.getElementById("urllink").textContent = "";
    document.getElementById("urllink").href = "#";
    await fetch('https://master-thesis-web-backend-prod.herokuapp.com/analyse', {
      method: 'POST',
      headers: {
        'Content-Type': 'raw',
        'cache-control': 'no-cache',
        'pragma': 'no-cache',
      },
      body: data,
    }).then(
            res => res.json()
    ).then( json =>
    {
      document.getElementById("explanationText").textContent = "";
      document.getElementById("suggestionText").textContent = "";
      document.getElementById("linkText").textContent = "";
      document.getElementById("tipText").textContent = "";
      const obj = JSON.parse(JSON.stringify(json));

      console.log(obj);

      if (obj.hasException) {
        document.getElementById("positionText").textContent = "Something went wrong, we could not analyse your code. :(";
        document.getElementById("explanationText").textContent = obj.hasException;
        document.getElementById("suggestionText").textContent = "";
        document.getElementById("linkText").textContent = "";
        document.getElementById("tipText").textContent = "";
      } else {

        if (obj.status === "errors") {
          let positionString = "In class " + obj.containingClass;
          let explanationString = obj.explanation;
          let suggestionString = obj.suggestion;
          if (obj.lineNumber !== -1) {
            positionString += ", on line number " + obj.lineNumber;
          }
          document.getElementById("positionText").textContent = positionString;
          document.getElementById("explanationText").textContent = explanationString;
          document.getElementById("suggestionText").textContent = "You should try " +suggestionString;
          if (obj.moreInfoLink) {
            let linkString = obj.moreInfoLink;
            document.getElementById("linkText").textContent = "More info? Check out:";
            document.getElementById("urllink").textContent = linkString;
            let indexOfSlash = linkString.lastIndexOf("/");
            let file = linkString.substring(indexOfSlash);
            console.log(file);
            document.getElementById("urllink").href = file;
          }
          if (obj.tip) {
            let tip = obj.tip;
            document.getElementById("tipText").textContent = tip;
          }

        } else {
          document.getElementById("positionText").textContent = "Found no errors!";
          document.getElementById("explanationText").textContent = "";
          document.getElementById("suggestionText").textContent = "";
          document.getElementById("linkText").textContent = "";
          document.getElementById("tipText").textContent = "";
        }
      }
    }
    );
  }
  document.getElementById('buttonInput').addEventListener('click', postInputData, false);
</script>
</html>
