<!DOCTYPE html>
<html lang="en">
<head>
  <title>Master thesis web tasks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  p {color:white; font-family: sans-serif}
  h1 {color:white; font-family: sans-serif}
  h2 {color:white; font-family: sans-serif}
  h3 {color:white; font-family: sans-serif}
  a:link {color:white; font-family: sans-serif}
  a:hover {color:gray; font-family: sans-serif}
  a:visited {color:white; font-family: sans-serif}
  a:active {color:gray; font-family: sans-serif}
  ul {color:white; font-family: sans-serif}
  .editor{width: fit-content; height: fit-content; white-space: pre; background-color: black; color:aliceblue; font-family: sans-serif; border: 2px solid gray;}
  .editorLines{width: fit-content; height: fit-content; white-space: pre; background-color: black; color:grey; font-family: sans-serif; border: 2px solid gray;}
  .flex-container {
    display: flex;
}
</style>
<body style="background-color:#33475b">
  <h1>Master thesis web</h1>
  <div id="app"></div>
  <script src="../main.js"></script>

  <div class="flex-container">

    <div class="editorLines" id="editorLines"></div>

    <div class="editor" contenteditable="true" id="editor"></div>
    
  </div>

    <textarea hidden id="taskOneText">
public class TaskOne {

    public static void main(String[] args) {
        TaskOne taskOne = new TaskOne();
        taskOne.doIt(false);
    }

    public void doIt(boolean value) {
        // TODO: Change the if-statement such that nothing prints! (value should always be false).
        if (value); {
            System.out.println("Uh oh, this should not print when value is "+ value +"!");
        }
    }
}
</textarea><br>

<textarea hidden id="taskTwoText">
public class TaskTwo {
    public static void main(String[] args) {
        TaskTwo taskTwo = new TaskTwo();
        taskTwo.doIt();
    }

    public class Bag {

        private int size;

        public Bag(int size) {
            this.size = size;
        }

    }

    public void doIt() {
        // Two equal bags, because they have the same size.
        Bag bag1 = new Bag(5);
        Bag bag2 = new Bag(5);

        // TODO: TASK 2
        // TODO: Change the condition such that the bags are compared correctly. Implement the missing method in class Bag above.
        if (bag1 == bag2) {
            System.out.println("bag1 is equal to bag2, good job! :)");
        } else {
            System.out.println("bag1 is not equal to bag2!");
        }
    }

}
</textarea>

<textarea hidden id="taskThreeText">
public class TaskThree {
    public static void main(String[] args) {
        TaskThree taskThree = new TaskThree();
        taskThree.doIt();
    }

    public void doIt() {
        int a = 7;
        int b = 5;

        // TODO: TASK 3
        // TODO: Change the condition such that "a/b" is equal to 1.4.
        if (a/b == 1.4) {
            System.out.println("Woho, a/b has the correct value!");
        } else {
            System.out.println("Oh no, a/b should be " + 1.4 + " but is " + a/b);
        }
    }

}
</textarea>

<textarea hidden id="taskFourText">
public class TaskFour {
    public static void main(String[] args) {
        TaskFour taskFour = new TaskFour();
        taskFour.doIt();
    }

    public void doIt() {
        // TODO: Change the if-condition "(strings.length > 0 & strings[0].equals("java"))" such that the ArrayIndexOutOfBoundsException is avoided. (The list *should* be empty!)
        String[] strings = new String[]{};
        if (strings.length > 0 & strings[0].equals("java")) {
            System.out.println("Uh oh, we should have an empty list!");
        } else {
            System.out.println("Woho! You avoided the ArrayIndexOutOfBoundsException, good job! :)" );
        }
    }

}
</textarea>


<textarea hidden id="taskFiveText">
import java.util.ArrayList;

public class TaskFive {
    public static void main(String[] args) {
        TaskFive taskFive = new TaskFive();
        taskFive.doIt(false);
    }

    private ArrayList<Integer> list = new ArrayList<>();

    public void doIt(boolean shouldAddToList) {
        list = new ArrayList<>();

        // TODO: Make changes to the if-statement below such that no numbers are added to the list. (Both numbers should be added if shouldAddToList is true!)
        if (shouldAddToList)
            list.add(1);
            list.add(2);

        // This should *not* be changed in this task!
        if (list.isEmpty()) {
            System.out.println("Woho, the list is empty!");
        } else {
            System.out.println("This list should be empty, but is " + list);
        }
    }
}
</textarea>

    <button type="button" id="buttonInput">Check code</button>
    <button type="button" id="buttonGetTips">Get tip</button>
    <button type="button" id="buttonPreviousTask">Previous task</button>
    <button type="button" id="buttonNextTask">Next task</button>
    <p id="positionText"></p>
    <p id="explanationText"></p>
    <p id="suggestionText"></p>
    <p id="linkText"></p>
    <a href="#" id="urllink"></a>
    <p id="tipText"></p>
</body>
<script type="module">

function clearAllFields() {
    document.getElementById("positionText").textContent = "";
    document.getElementById("explanationText").textContent = "";
    document.getElementById("suggestionText").textContent = "";
    document.getElementById("linkText").textContent = "";
    document.getElementById("tipText").textContent = "";
    document.getElementById("urllink").textContent = "";
  }


let taskNumber = 0;
const taskNames = ["taskOneText", "taskTwoText", "taskThreeText", "taskFourText", "taskFiveText"];

document.getElementById("editor").textContent = document.getElementById(taskNames[taskNumber]).value;

function highlightSyntax() {
  let editorContent = document.getElementById("editor").textContent;
  let lines = editorContent.split("\n");

  let newLines = lines.map(line => {
    let words = line.split(" ");
    if (words.includes("//")) {return `<span style="color:rgba(255, 200, 143,0.7);">${words.join(" ")}</span>`;};
    if (line.includes("\"")) {
      let startString = line.indexOf("\"");
      let stopString = line.lastIndexOf("\"");
      console.log(line.substring(startString, stopString));
      return `${line.substring(0, startString)}<span style="color:rgba(184, 255, 178,0.7);">${line.substring(startString, stopString)}</span>${line.substring(stopString, line.length)}`;
    }
    let newWords = words.map(word => {
      if (["if", "class", "public", "void", "int", "new", "else", "&", "&&", "|", "||"].includes(word)) {
        return `<span style="color:rgba(190, 216, 209,0.7);">${word}</span>`;
      } else {
        return word;
      }
    });
    console.log(newWords);
    console.log(newWords.join(" "));
    return newWords.join(" ");
  }).join("\n");

  console.log(newLines);

  document.getElementById("editor").innerHTML = newLines;
}

function populateLineNumbers() {
    let editorContent = document.getElementById("editor").textContent;
    let lines = editorContent.split("\n");
    let linenumbers = lines.length;

    document.getElementById("editorLines").textContent = "";
    
    for (let i = 1; i < linenumbers; i++) {
      document.getElementById("editorLines").textContent +=i + "\n";
    }
  }



populateLineNumbers();
highlightSyntax();

  const ignoredErrors = new Map([
      ["TaskOne", ["master.thesis.backend.errors.MissingEqualsMethodError"] ], 
      ["TaskTwo", ["master.thesis.backend.errors.MissingEqualsMethodError"] ],
      ["TaskThree", ["master.thesis.backend.errors.MissingEqualsMethodError"] ],
      ["TaskFour", ["master.thesis.backend.errors.MissingEqualsMethodError"] ],
      ["TaskFive", ["master.thesis.backend.errors.MissingEqualsMethodError"] ]
    ]);

  async function postInputData() {
    const data = document.getElementById("editor").textContent;
    clearAllFields();
    document.getElementById("positionText").textContent = "Running code....";
    await fetch('https://master-thesis-web-backend.herokuapp.com/runjava', {
      method: 'POST',
      headers: {
        'Content-Type': 'raw',
        'cache-control': 'no-cache',
        'pragma': 'no-cache',
      },
      body: data,
    }).then(
            res => res.json()
    ).then( json =>
    {
      clearAllFields();
     
      const obj = JSON.parse(JSON.stringify(json));

      console.log(obj);

      document.getElementById("positionText").textContent = "Out: " + obj.out;

      
      }
    );

    await fetch('https://master-thesis-web-backend.herokuapp.com/analyse', {
      method: 'POST',
      headers: {
        'Content-Type': 'raw',
        'cache-control': 'no-cache',
        'pragma': 'no-cache',
      },
      body: data,
    }).then(
            res => res.json()
    ).then( json =>
    {
     
      const obj = JSON.parse(JSON.stringify(json));

      console.log(obj);

      if (obj.hasException || obj.status == "errors" && !shouldIgnoreError(obj)) {
        document.getElementById("explanationText").textContent = "Solved task: No";
      } else {
        document.getElementById("explanationText").textContent = "Solved task: Yes";
      }
    }
    );
}

function shouldIgnoreError(obj) {
    if (!ignoredErrors.has(obj.containingClass)) {
        return false;
    }
    if (ignoredErrors.has(obj.containingClass) && ignoredErrors.get(obj.containingClass).includes(obj.id)) {
        return true;
    }
    return false;
}

  async function analyseCode() {
    const data = document.getElementById("editor").textContent;
    clearAllFields();
    document.getElementById("positionText").textContent = "Analysing code....";
    await fetch('https://master-thesis-web-backend.herokuapp.com/analyse', {
      method: 'POST',
      headers: {
        'Content-Type': 'raw',
        'cache-control': 'no-cache',
        'pragma': 'no-cache',
      },
      body: data,
    }).then(
            res => res.json()
    ).then( json =>
    {
      clearAllFields();
     
      const obj = JSON.parse(JSON.stringify(json));

      if (obj.hasException) {
        clearAllFields();
        document.getElementById("positionText").textContent = "Something went wrong, we could not analyse your code. :(";
        document.getElementById("explanationText").textContent = obj.hasException;
      } else {

        if (obj.status === "errors") {
          let positionString = "In class " + obj.containingClass;
          let explanationString = obj.explanation;
          let suggestionString = obj.suggestion;
          if (obj.lineNumber !== -1) {
            positionString += ", on line number " + obj.lineNumber;
          }
          document.getElementById("positionText").textContent = positionString;
          document.getElementById("explanationText").textContent = explanationString;
          document.getElementById("suggestionText").textContent = "You should try " +suggestionString;
          if (obj.moreInfoLink) {
            let linkString = obj.moreInfoLink;
            document.getElementById("linkText").textContent = "More info? Check out:";
            document.getElementById("urllink").textContent = linkString;
            let indexOfSlash = linkString.lastIndexOf("/");
            let file = linkString.substring(indexOfSlash);
            console.log(file);
            document.getElementById("urllink").href = file;
          }
          if (obj.tip) {
            let tip = obj.tip;
            document.getElementById("tipText").textContent = tip;
          }

        } else {
          clearAllFields();
          document.getElementById("positionText").textContent = "Found no errors!";
        }
      }
    }
    );
  }


  function nextTask() {
    clearAllFields();
    taskNumber += 1;
    if (taskNumber >= 6) {
      taskNumber = 5;
    } 
    document.getElementById("editor").textContent = document.getElementById(taskNames[taskNumber]).value;
    populateLineNumbers();
    highlightSyntax();
  }

  function previousTask() {
    clearAllFields();
    taskNumber -= 1;
    if (taskNumber <= -1) {
      taskNumber = 0
    }
    document.getElementById("editor").textContent = document.getElementById(taskNames[taskNumber]).value;
    populateLineNumbers();
    highlightSyntax();
  }
 
  document.getElementById('buttonInput').addEventListener('click', postInputData, false);
  document.getElementById('buttonGetTips').addEventListener('click', analyseCode, false);
  document.getElementById('buttonNextTask').addEventListener('click', nextTask, false);
  document.getElementById('buttonPreviousTask').addEventListener('click', previousTask, false);
</script>
</html>
