<!DOCTYPE html>
<html lang="en">
<head>
  <title>Master thesis web tasks</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  p {color:white; font-family: sans-serif; margin:0; margin-top: -20pt; word-break: break-all; white-space: break-spaces;}
  h1 {color:white; font-family: sans-serif}
  h2 {color:white; font-family: sans-serif}
  h3 {color:white; font-family: sans-serif}
  a:link {color:white; font-family: sans-serif;}
  a:hover {color:gray; font-family: sans-serif;}
  a:visited {color:white; font-family: sans-serif;}
  a:active {color:gray; font-family: sans-serif;}
  ul {color:white; font-family: sans-serif}
  .editor{width: fit-content; height: fit-content; min-width: 1000px; min-height: 50px; white-space: pre; background-color: black; color:aliceblue; font-family: Verdana, sans-serif;; border: 2px solid gray; display: inline-block;}
  .console{width: 1500px; height: fit-content; white-space: pre; background-color: black; color:aliceblue; font-family: Verdana, sans-serif; border: 2px solid gray;}
  .editorLines{width: fit-content; height: fit-content; white-space: pre; background-color: black; color:grey; font-family: Verdana, sans-serif; border: 2px solid gray;}
  .flex-container {
    display: flex;
}
</style>
<body style="background-color:#33475b">
  <h1>Master thesis web</h1>
  <div id="app"></div>
  <script src="../main.js"></script>

  <div class="flex-container">

    <div class="editorLines" id="editorLines" (paste)="pasteInEditor($event)"></div>

    <div class="editor" contenteditable="true" spellcheck="false" autocomplete='off' id="editor"></div>
    
  </div>

    <textarea hidden id="taskOneText">
public class TaskOne {

    public static void main(String[] args) {
        TaskOne taskOne = new TaskOne();
        taskOne.doIt(false);
    }

    public void doIt(boolean value) {
        // TODO: Change the if-statement such that nothing prints! (value should always be false).
        if (value); {
            System.out.println("Uh oh, this should not print when value is "+ value +"!");
        }
    }
}
</textarea><br>

<textarea hidden id="taskTwoText">
public class TaskTwo {
    public static void main(String[] args) {
        TaskTwo taskTwo = new TaskTwo();
        taskTwo.doIt();
    }

    public class Bag {

        private int size;

        public Bag(int size) {
            this.size = size;
        }

    }

    public void doIt() {
        // Two equal bags, because they have the same size.
        Bag bag1 = new Bag(5);
        Bag bag2 = new Bag(5);

        // TODO: Change the condition such that the bags are compared correctly. Implement the missing method in class Bag above.
        if (bag1 == bag2) {
            System.out.println("bag1 is equal to bag2, good job! :)");
        } else {
            System.out.println("bag1 is not equal to bag2!");
        }
    }

}
</textarea>

<textarea hidden id="taskThreeText">
public class TaskThree {
    public static void main(String[] args) {
        TaskThree taskThree = new TaskThree();
        taskThree.doIt();
    }

    public void doIt() {
        int a = 7;
        int b = 5;

        // TODO: Change the condition such that "a/b" is equal to 1.4.
        if (a/b == 1.4) {
            System.out.println("Woho, a/b has the correct value!");
        } else {
            System.out.println("Oh no, a/b should be " + 1.4 + " but is " + a/b);
        }
    }

}
</textarea>

<textarea hidden id="taskFourText">
public class TaskFour {
    public static void main(String[] args) {
        TaskFour taskFour = new TaskFour();
        taskFour.doIt();
    }

    public void doIt() {
        // TODO: Change the if-condition "(strings.length > 0 & strings[0].equals("java"))" such that the ArrayIndexOutOfBoundsException is avoided. (The list *should* be empty!)
        String[] strings = new String[]{};
        if (strings.length > 0 & strings[0].equals("java")) {
            System.out.println("Uh oh, we should have an empty list!");
        } else {
            System.out.println("Woho! You avoided the ArrayIndexOutOfBoundsException, good job! :)" );
        }
    }

}
</textarea>


<textarea hidden id="taskFiveText">
import java.util.ArrayList;

public class TaskFive {
    public static void main(String[] args) {
        TaskFive taskFive = new TaskFive();
        taskFive.doIt(false);
    }

    private ArrayList<Integer> list = new ArrayList<>();

    public void doIt(boolean shouldAddToList) {
        list = new ArrayList<>();

        // TODO: Make changes to the if-statement below such that no numbers are added to the list. (Both numbers should be added if shouldAddToList is true!)
        if (shouldAddToList)
            list.add(1);
            list.add(2);

        // This should *not* be changed in this task!
        if (list.isEmpty()) {
            System.out.println("Woho, the list is empty!");
        } else {
            System.out.println("This list should be empty, but is " + list);
        }
    }
}
</textarea>

<textarea hidden id="taskThreeText-reset">
  public class TaskThree {
      public static void main(String[] args) {
          TaskThree taskThree = new TaskThree();
          taskThree.doIt();
      }
  
      public void doIt() {
          int a = 7;
          int b = 5;
  
          // TODO: Change the condition such that "a/b" is equal to 1.4.
          if (a/b == 1.4) {
              System.out.println("Woho, a/b has the correct value!");
          } else {
              System.out.println("Oh no, a/b should be " + 1.4 + " but is " + a/b);
          }
      }
  
  }
  </textarea>

  <textarea hidden id="taskFourText-reset">
    public class TaskFour {
        public static void main(String[] args) {
            TaskFour taskFour = new TaskFour();
            taskFour.doIt();
        }
    
        public void doIt() {
            // TODO: Change the if-condition "(strings.length > 0 & strings[0].equals("java"))" such that the ArrayIndexOutOfBoundsException is avoided. (The list *should* be empty!)
            String[] strings = new String[]{};
            if (strings.length > 0 & strings[0].equals("java")) {
                System.out.println("Uh oh, we should have an empty list!");
            } else {
                System.out.println("Woho! You avoided the ArrayIndexOutOfBoundsException, good job! :)" );
            }
        }
    
    }
    </textarea>

<textarea hidden id="taskFiveText-reset">
  import java.util.ArrayList;
  
  public class TaskFive {
      public static void main(String[] args) {
          TaskFive taskFive = new TaskFive();
          taskFive.doIt(false);
      }
  
      private ArrayList<Integer> list = new ArrayList<>();
  
      public void doIt(boolean shouldAddToList) {
          list = new ArrayList<>();
  
          // TODO: Make changes to the if-statement below such that no numbers are added to the list. (Both numbers should be added if shouldAddToList is true!)
          if (shouldAddToList)
              list.add(1);
              list.add(2);
  
          // This should *not* be changed in this task!
          if (list.isEmpty()) {
              System.out.println("Woho, the list is empty!");
          } else {
              System.out.println("This list should be empty, but is " + list);
          }
      }
  }
  </textarea>

    <button type="button" id="buttonInput">Check code</button>
    <button type="button" id="buttonGetTips">Get tip</button>
    <button type="button" id="buttonPreviousTask">Previous task</button>
    <button type="button" id="buttonNextTask">Next task</button>
    <div class="console" spellcheck="false" id="console">
      <p id="positionText"></p>
      <p id="explanationText"></p>
      <p id="suggestionText"></p>
      <p id="linkText"></p>
      <a href="#" target="_blank" id="urllink"></a>
      <p id="tipText" style="margin-top: 15pt;"></p>
    </div>
    
</body>
<script type="module">

function clearAllFields() {
    document.getElementById("positionText").textContent = "";
    document.getElementById("explanationText").textContent = "";
    document.getElementById("suggestionText").textContent = "";
    document.getElementById("linkText").textContent = "";
    document.getElementById("tipText").textContent = "";
    document.getElementById("urllink").textContent = "";
  }


let taskNumber = 0;
const taskNames = ["taskOneText", "taskTwoText", "taskThreeText", "taskFourText", "taskFiveText"];
const taskNames_reset = ["taskOneText-reset", "taskTwoText-reset", "taskThreeText-reset", "taskFourText-reset", "taskFiveText-reset"];
let shouldUpdateEditor = true;
let TASK_FOUR_NUMBER = 3;
let TASK_FIVE_NUMBER = 4;
let outputFromRunnedFile = "";

document.getElementById("editor").textContent = document.getElementById(taskNames[taskNumber]).value;

let symbols = ["{", "}", "(", ")", "[", "]"];
let spaceAndNewLine = [" ", "\n"]
let keywords = ["if", "new", "while", "class", "for", "else", "return"];
let comment = "//";
let modifiers = ["public", "private", "protected", "static"]
let types = ["int", "boolean", "double", "String", "ArrayList", "void"]
let string = "\""
let operators = ["+", "-", "++", "--", "&", "|", "&&", "||", "=", "=="]

function tokenizer() {
  let editorContent = document.getElementById("editor").textContent; 

  let tokens = []
  let word = "";
  for (var i = 0; i < editorContent.length; i++) {
    let token = editorContent.charAt(i);
    if (symbols.includes(token) || spaceAndNewLine.includes(token) || operators.includes(token)) {
      if (word != "") {
        tokens.push(word);
        word="";
      }
      tokens.push(token);
    } else 
    if (keywords.includes(word.concat(token)) 
    || modifiers.includes(word.concat(token)) 
    || types.includes(word.concat(token))
    || operators.includes(word.concat(token))) {

      tokens.push(word.concat(token));
      word = "";
    } else 
    if (word.concat(token) == comment) {
      word = word.concat(token);

      let nextToken = editorContent.charAt(i+1);
      
      while (nextToken != "\n") {
        nextToken = editorContent.charAt(i+1);
        word = word.concat(nextToken);
        i = i+1;
      }

      tokens.push(word);
      word = "";
    } else 
    if (token == string) {
      if (word != "") {
        tokens.push(word);
        word="";
      }
      word = word.concat(token);

      let nextToken = editorContent.charAt(i+1);
      
      while (nextToken != "\"") {
        nextToken = editorContent.charAt(i+1);
        word = word.concat(nextToken);
        i = i+1;
      }

      tokens.push(word);
      word = "";
    }
    else {
      word = word.concat(token);
    }
  }
  tokens.push(word);
  console.log("TOKENS "+tokens);
  return tokens;
}

function pasteInEditor(event) {
  event.preventDefault();
  const clipboardData = event.clipboardData;
  const pastedText = clipboardData.getData('text');
  console.log(pastedText);
  window.document.execCommand('insertText', false, pastedText);
}

function highlightSyntax() {
  let tokens = tokenizer();
  let coloredTokens = tokens.map(token => {
    if (keywords.includes(token)) {
      return  `<span style="color:rgba(138, 199, 255,0.7);">${token}</span>`;
    };
    if (symbols.includes(token)) {
      return  `<span style="color:rgba(138, 237, 255,0.7);">${token}</span>`;
    };
    if (token.includes(comment)) {
      return  `<span style="color:rgba(255, 99, 71,0.7);">${token}</span>`;
    }
    if (token.includes(string)) {
      return  `<span style="color:rgba(222, 255, 213,0.7);">${token}</span>`;
    }
    if (modifiers.includes(token)) {
      return `<span style="color:rgba(138, 199, 255,0.7);">${token}</span>`;
    }
    if (types.includes(token)) {
      return `<span style="color:rgba(222, 200, 255,0.7);">${token}</span>`;
    }
    if (operators.includes(token)) {
      return `<span style="color:rgba(255, 235, 182,0.7);">${token}</span>`;
    }
    return token;
  }); 
  document.getElementById("editor").innerHTML = coloredTokens.join("");
}

function populateLineNumbers() {
    let editorContent = document.getElementById("editor").textContent;
    console.log(editorContent);
    let lines = editorContent.split("\n");
    let linenumbers = lines.length;

    document.getElementById("editorLines").textContent = "";
    
    for (let i = 1; i < linenumbers; i++) {
      document.getElementById("editorLines").textContent +=i + "\n";
    }
  }

populateLineNumbers();
highlightSyntax();


const config = {childList: true, subtree: true, CharacterData: true, attributes: true };
const callback = function(mutationsList, observer) {
    for(const mutation of mutationsList) {
      populateLineNumbers();
      observer.disconnect();
      highlightSyntax();
      observer.observe(editor, config);
  }
};
const observer = new MutationObserver(callback);
observer.observe(editor, config);

document.getElementById('editor').addEventListener('keydown', event => {
  if (event.key === 'Enter') {
    observer.disconnect();
    document.execCommand('insertHTML', false, '\n');
    populateLineNumbers();
    event.preventDefault()
    observer.observe(editor, config);
  }
  if (event.key === 'Tab') {
    observer.disconnect();
    document.execCommand('insertHTML', false, '\t');
    event.preventDefault()
    observer.observe(editor, config);
  }
  if (event.key === 'Space') {
    observer.disconnect();
    document.execCommand('insertHTML', false, '\s');
    event.preventDefault()
    observer.observe(editor, config);
  }
  if (event.key === 'Backspace') {
    var sel = window.getSelection();
    observer.disconnect();
    let range = selection.getRangeAt(0);
    range.deleteContents();
    let node = document.createTextNode("");
    range.insertNode(node);

    populateLineNumbers();

    observer.observe(editor, config);
  }
})

  async function postInputData() {

    observer.disconnect();
    highlightSyntax();
    observer.observe(editor, config);

    const data = document.getElementById("editor").textContent;
    clearAllFields();
    document.getElementById("positionText").textContent = "Running code....";
    await fetch('https://master-thesis-web-backend-prod.herokuapp.com/runjava', {
      method: 'POST',
      headers: {
        'Content-Type': 'raw',
        'cache-control': 'no-cache',
        'pragma': 'no-cache',
      },
      body: data,
    }).then(
        res =>
        res.json()
    ).then( json =>
    {
      clearAllFields();
      console.log(json)
      const obj = JSON.parse(JSON.stringify(json));
      console.log(obj);
      document.getElementById("positionText").textContent = "Out: " + obj.out;
      outputFromRunnedFile = obj.out;

      if (obj.error && obj.error != "") {
        document.getElementById("suggestionText").textContent = "Error: " + obj.error;
        outputFromRunnedFile = obj.error;
      }
      }
    );

    await fetch('https://master-thesis-web-backend-prod.herokuapp.com/analyse', {
      method: 'POST',
      headers: {
        'Content-Type': 'raw',
        'cache-control': 'no-cache',
        'pragma': 'no-cache',
      },
      body: data,
    }).then(
            res => res.json()
    ).then( json =>
    {
     
      const obj = JSON.parse(JSON.stringify(json));

      if (obj.hasException || obj.status == "errors") {
        document.getElementById("explanationText").textContent = "Solved task: No";
      } else {
        if (haveSolvedTask(outputFromRunnedFile, taskNumber)) {
          document.getElementById("explanationText").textContent = "Solved task: Yes";
        } else {
          document.getElementById("explanationText").textContent = "Solved task: No";
        }
      }
    }
  );
}

function haveSolvedTask(outputFromRunnedFile, taskNumber) {
  if (taskNumber == TASK_FIVE_NUMBER) {
    if (outputFromRunnedFile.includes("This list should be empty, but is")) {
      return false;
    }
  }

  if (taskNumber == TASK_FOUR_NUMBER) {
    if (outputFromRunnedFile.includes("Exception in thread")) {
      return false;
    }
  }
  return true;
}

  async function analyseCode() {
    let data;
    if (!haveSolvedTask(outputFromRunnedFile, taskNumber)) {
      data = document.getElementById(taskNames_reset[taskNumber]).textContent;
    } else {
      data = document.getElementById("editor").textContent;
    }

    console.log("DATA:"+data);
    
    clearAllFields();
    document.getElementById("positionText").textContent = "Analysing code....";
    await fetch('https://master-thesis-web-backend-prod.herokuapp.com/analyse', {
      method: 'POST',
      headers: {
        'Content-Type': 'raw',
        'cache-control': 'no-cache',
        'pragma': 'no-cache',
      },
      body: data,
    }).then(
            res => res.json()
    ).then( json =>
    {
      clearAllFields();
     
      const obj = JSON.parse(JSON.stringify(json));

      if (obj.hasException) {
        clearAllFields();
        document.getElementById("positionText").textContent = "Something went wrong, we could not analyse your code. :(";
        document.getElementById("explanationText").textContent = obj.hasException;
      } else {

        if (obj.status === "errors") {
          let positionString = "In class " + obj.containingClass;
          let explanationString = obj.explanation;
          let suggestionString = obj.suggestion;
          if (obj.lineNumber !== -1) {
            positionString += ", on line number " + obj.lineNumber;
          }
          document.getElementById("positionText").textContent = positionString;
          document.getElementById("explanationText").textContent = explanationString;
          document.getElementById("suggestionText").textContent = "You should try " +suggestionString;
          if (obj.moreInfoLink) {
            let linkString = obj.moreInfoLink;
            document.getElementById("linkText").textContent = "More info? Check out:";
            document.getElementById("urllink").textContent = linkString;
            let indexOfSlash = linkString.lastIndexOf("/");
            let file = linkString.substring(indexOfSlash);
            console.log(file);
            document.getElementById("urllink").href = file;
          }
          if (obj.tip) {
            let tip = obj.tip;
            document.getElementById("tipText").textContent = tip;
          }

        } else {
          clearAllFields();
          document.getElementById("positionText").textContent = "Found no errors!";
        }
      }
    }
    );
  }


  function nextTask() {
    clearAllFields();
    console.log(taskNumber)

    document.getElementById(taskNames[taskNumber]).value = document.getElementById("editor").textContent;

    taskNumber += 1;
    if (taskNumber >= 5) {
      taskNumber = 4;
    } 
    document.getElementById("editor").textContent = document.getElementById(taskNames[taskNumber]).value;
    populateLineNumbers();
    observer.disconnect();
    highlightSyntax();
    observer.observe(editor, config);
  }

  function previousTask() {
    clearAllFields();
    console.log(taskNumber)
    document.getElementById(taskNames[taskNumber]).value = document.getElementById("editor").textContent;

    taskNumber -= 1;
    if (taskNumber <= -1) {
      taskNumber = 0
    }

    document.getElementById("editor").textContent = document.getElementById(taskNames[taskNumber]).value;
    populateLineNumbers();
    observer.disconnect();
    highlightSyntax();
    observer.observe(editor, config);
  }
 
  document.getElementById('buttonInput').addEventListener('click', postInputData, false);
  document.getElementById('buttonGetTips').addEventListener('click', analyseCode, false);
  document.getElementById('buttonNextTask').addEventListener('click', nextTask, false);
  document.getElementById('buttonPreviousTask').addEventListener('click', previousTask, false);
</script>
</html>